*{
 padding:0;
 margin:0;
 box-sizing: border-box;

};

header {
  background:url();
  min-height: 100vh;
  position:relative;
  font-family:"";

}

body::before {
  position: absolute;
  content:"" ;
  width: 100% 1px;
  height: 100%;
  background: rgba(226, 18, 18, 0.5);
  z-index: -1;
};

.container {
  max-width: 1440px;
  width:100%;
  margin:0 auto;
  padding:0 1rem;

}
.container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.container nav .logo {
  background: #fcfcfc;
  font-size: 1.2rem;
  

}

.container .nav-link {
  display: flex;
}

.container .nav-link li{
  list-style:none;
  margin:0 0.5rem;

}

.container ul li a{
  color:red;
  font-size:  1.3rem;
  padding:0.7rem 1rem;

  display:block;
  border-radius: 10px;
  border-radius:4px;

}

.container ul li a:hover,
.container ul li a .active {
  background-color: rgb(243, 179, 41);

}