.home-page header{
    background-image: url('/frontend/public/FoodStack-495051.jpg');
    
    
    
}

    

header{
    
    background-position: center;
    background-size: contain;
   

}
header h1{
    font-size: 5rem;
    color: #ecacb8;
}

@media only screen and (max-width: 768px) {
    header h1 {
        font-size: 4rem;
    }
}
@media only screen and (max-width: 576px) {
    header h1 {
        font-size: 3rem;
    }
}