.footer {
    --footer-height: 100px;
    height: var(--footer-height);

    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    background: radial-gradient(51.39% 511.66% at 47.68% -217.91%, #852817, rgb(241, 84, 84), rgb(114, 16, 9));
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: none;
    box-shadow: none;
}    
.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 5px 5px;
    flex-wrap: wrap;

}
.icon-elem {
    list-style: none;

}
.icon{
    color:#f5f5f5;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 2s;

}
.icon:hover{
    transform: rotateY(360deg);
    transition: 2s;
}